<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="#">Parteneri</a>
              <a href="#">Dotari</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="views/consultatie.html">Consultatii</a>
              <a href="../views/implanturi.html">Implanturi</a>
              <a href="#">Radiologie dentara si operatii</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Portofoliu</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#pricing" class="dropbtn">Tarife</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Consultatie</a>
              <a href="../views/implanturi.html">Implanturi</a>
              <a href="#">Vizita</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <div class="container" style="padding-top:200px;">
    <h2>Consultatie</h2>
    <p class="lead"> In cadrul aceastei prima vizite veti cunoaste echipa noastra de medici, personalul prietenos si placut, precum si dotarile
      moderne ale clinicii, care ne ofera posibilitatea de a va promite un tratament dentar de cea mai buna calitate. Va
      oferim posibilitatea realizarii unei consultatii profesioniste de specialitate, in cadrul careia va vor fi prezentate
      optiunile de tratament, concretizate in Planul de Tratament, ce contine interventiile recomandate, structurate pe faze,
      durata de realizare si costuri asociate.</p>

    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td>Consultatie</td>
          <td>80 de lei</td>
        </tr>
        <tr>
          <td>Consultatie family</td>
          <td>120 de lei</td>
        </tr>
        <tr>
          <td>Consultatie</td>
          <td>80 de lei</td>
        </tr>
        <tr>
          <td>Consultatie family</td>
          <td>120 de lei</td>
        </tr>
      </tbody>
    </table>
  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Crystal Dent Page Made By Silviu Hoza</p>
  </footer>


  <script src="main.js"></script>

</body>

</html>