<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>

            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="../views/dotari.html">Dotări</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/estetica-dentara.html">Estetica dentară</a>
              <a href="../views/endodontie.html">Endodonție</a>
              <a href="../views/implantologie.html">Implantologie</a>
              <a href="../views/pedodontie.html">Pedodonție</a>
            
            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Portofoliu</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>
         
          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <h1>Echipa noasta</h1>
  <!-- Container for the image gallery -->
  <div class="container">

    <div class="row ">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Doctor Dana</h1>
          </div>
          <div class="panel-body">
            <img src="../img/doamna.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="panel-footer">

            <a href="#contact" class="btn btn-lg">Doresti o programare</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Doctor Dana</h1>
          </div>
          <div class="panel-body">
            <img src="../img/domnul1.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="panel-footer">
            <!-- <h3>$29</h3>
            <h4>per month</h4> -->
            <a href="#contact" class="btn btn-lg">Doresti o programare</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Doctor Cristian</h1>
          </div>
          <div class="panel-body">
            <img src="../img/domnul2.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="panel-footer">
            <!-- <h3>$49</h3>
            <h4>per month</h4> -->
            <a href="#contact" class="btn btn-lg">Doresti o programare</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card " style="width: 35rem;">
          <img class="card-img-top img-thumbnail" src="../img/domnul1.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Doctorul Cristian</h3>
              <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <div>
                <span id="text" class="card-text text-info">CSS is designed primarily to enable the separation of
                  document content
                  from document presentation, including aspects such as the layout, colors, and fonts.</span>

              </div>
              <div class="btn-container">
                <button id="toggle" class="btn btn-default">Read More</button>
              </div>
              <br>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 35rem;">
          <img class="card-img-top img-thumbnail" src="../img/doamna.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Doamna doctor Dana</h3>
            <p class="card-text text-info">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>

            <div>

              <span id="text" class="card-text text-info">CSS is designed primarily to enable the separation of
                document content from document presentation, including aspects such as the layout, colors, and fonts.</span>

            </div>
            <div class="btn-container">
              <button id="toggle" class="btn btn-default">Read More</button>
            </div>

            <br>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

  </div>





  <script src="../imp.js"></script>


</body>

</html>