<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="../views/dotari.html">Dotări</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/chirurgie.html">Chirurgie dento-alveolară </a>
              <a href="#">Endodonție</a>
              <a href="../views/estetica-dentara.html">Estetica dentară</a>
              <a href="../views/implantologie.html">Implantologie</a>
              <a href="../views/ortodontie.html">Ortodonție și ortopedie dento-facială</a>
              <a href="../views/parodontologie.html">Parodontologie </a>
              <a href="../views/pedodontie.html">Pedodonție</a>
              <a href="../views/profilaxia.html">Profilaxie</a>
               <a href="../views/protetica.html">Protetica</a>
              
            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Cazuistică</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          
          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <div class="container" style="padding-top:200px;">
    <div class="row">
      <div class=" row ">
        <img id="banner3" src="../img/endodontie.png" class="col-lg-offset-2 col-lg-8 img-responsive" alt="Banner Image" />
        <h1 class="pull-left">Endodonție </h1>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div>
        <p class="text-info">
         Clinica <strong>Crystal Dent</strong> vă oferă tratamente moderne de instrumentare și obturare tridimensională a canalelor radiculare asigurând o etanșietate cât mai mare a obturației, alături de metodele clasice de tratament endodontic.
        </p>
        <br>
        <h3>Cu ce se ocupă endodonția? </h3>
        <p class="text-primary">
          <strong>Endodonția</strong> se ocupă cu tratamentul canalului radicular și este considerată ca fiind baza stomatologiei, pentru că durata de viață a dintelui depinde în primul rând de corectitudinea aplicării acestui tratament. Prelucrarea și obturarea canalelor radiculare sunt foarte importante pentru tratamentul dentar. Neobturarea acestora duce adesea la formarea unor focare de infecție cronică la nivelul apexului dentar. Fiecare dinte are un număr de canale radiculare, canale ce trebuie găsite curățate și obturate etanș. 
        </p>
      </div>
      <div>
        <h3>Din ce este alcătuit tratamentul endodontic?</h3>
        <p class="text-primary">
         Tratamentul endodontic este alcătuit din mai multe etape:
         <ul>
           <li>Accesul la canal și prelucarea mecanică, curățarea canalului(în acest fel, se ajunge la mărimea dorită a acestuia și se determină lungimea sa); </li>
           <li>Tratamentul medical care include folosirea de soluții antiseptice și efectul bactericid;</li>
         </ul>
        </p>
        <p class="text-primary">
         Tratamentul cuprinde un set complet de proceduri pentru tratarea canalelor radiculare, începând investigația <strong>X-ray</strong>, până la pregătirea eficientă a canalului radicular și obturarea acestuia cu substanțe de etanșare speciale care întăresc dintele și exclud apariția infecților radiculare.
        </p>
      </div>
      <div>
     
        <p class="text-primary">
          Tratamnetul endodontic presupune  prepararea mecanică și medicamentoasă a canalelor radiculare și obturare definitivă a acestora.
        </p>
        <p class="text-primary">
         Pacientul ajunge în cabinet, de cele mai multe ori cu durere și trebuie să intervenim imediat.
        </p>
        <p class="text-primary">
         Prepararea mecanică se face cu instrumente de Ni-Ti, folosite cu un micromotor endodontic. Noi avem micromotor <strong>endo Sweden Martina</strong>, utilizăm ace protaper și alte tipuri. Este importantă utilizarea apex locaturului, care ne informează când suntem în zona apicală. Lungimea de lucru poate fi verificată și radiografic, avem <strong>senzor digital de la Carestrem, 5200</strong> și vin arhivate toate radiografiile.
        </p>
        <p class="text-primary">
         După prepararea mecanică corectă și spălături repetate cu hipoclorit de sodiu putem face închiderea canalară. Thenica de închidere canalară utilizată este <strong>Sistem B</strong>, micromotorul Sweden Martina are prevăzută o piesă unde vin montate plaggerurile de diferite dimensiuni.
        <p class="text-primary">
          După tratamentul endodontic și <strong>închiderea cu Sistem B</strong>, dintele pate fi reconstruit folosind pivoți din <strong>fibra de sticlă</strong> cimentați cu cimenturi duale(auto și fotopolimerizabile) 
        </p>
        <p class="text-primary">
         Orice tratament canalar trebuie să fie radiografiat la început și la sfârșitul lucrării.
        </p>
        <p class="text-primary">
        Cazurile de retratamente cu reacții apicale(granuloame, chisturi), trebuie monitorizate radiografic o perioadă de timp, până la dispariție.
        </p>
        
          
        
      </div>
    </div>



  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Crystal Dent Page Made By Silviu Hoza</p>
  </footer>


  <script src="main.js"></script>

</body>

</html>