<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="../views/dotari.html">Dotări</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/estetica-dentara.html">Estetica dentară</a>
              <a href="../views/endodontie.html">Edodonție</a>
              <a href="#">Implantologie</a>
              <a href="../views/pedodontie.html">Pedodonție</a>
             
            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Cazuistică</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          
          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <div class="container" style="padding-top:200px;">
    <div class="row">
      <div class=" row ">
        <img id="banner3" src="../img/implant-dentar3.jpg" class="col-lg-offset-2 col-lg-8 img-responsive" alt="Banner Image" />
        <h1 class="pull-right">Implantologie </h1>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div>
        <h3>Câteva cuvinte despre implantologia denetară</h3>
        <p class="text-info">
          Implantologia mileniului trei îndeplinește visul comun al medicilor și pacienților, și anume, reconstruirea
          patrimonoiului dentar pierdut în mod analog celui natural, fără a mai fi nevoie să se apeleze la protezele
          mobile sofisticate și incomode pentru pacient(plăcile dentare sau protezele scheletale) sau la punțile fixate
          pe dinții sănătoși, proximali celor pierduți. Contrar părerii comune ale multor pacienții, majoritea
          intervențiilor implantologice nu sunt nici dificile, nici dureroase, cu un procentaj ridicat de succes și un
          cost justificat.
        </p>
        <br>
        <h3>Ce este implantologia dentară? </h3>
        <p class="text-primary">
          Implantologia dentară constă în inserarea în osul maxilar sau mandibular a unui mic șurub de titan care,
          odată osteointegrat, va putea suporta un dinte artificial apt să execute funcțiile unui dinte natural.
          Plasarea implantului se va face după ce locul extracției s-a vindecat sau imediat după extracție, prin
          intermediul unei intrvenții chirurgicale, nu foarte complicată.
        </p>
      </div>
      <div>
        <h3>Cum e făcut un implanat dentar?</h3>
        <p class="text-primary">
          De cele mai multe ori , implanturile dentare din titan sunt fie cilindrice, fie conice, au diferite lungimi
          și diametre, astfel încât să poată fi adaptate configurației segmentului osos disponibil pentru inserție.
          După o perioadă de timp, necesară integrării în os, pe implantul dentar este așezată o altă piesă metalică,
          și anume bontul protetic, deasupra căruia medicul poate plasa coroana ceramică, puntea sau proteza dentară ce
          va înlocui dintele sau dinții lipsă.
        </p>

        <h3>Cine poate beneficia de implanturi dentare?</h3>
        <p class="text-primary">
          În principiu, orice pacient căruia îi lipsește unul sau mai mulți dinți poate apela la implantul dentar.
          Există însa și niște limite, date de cantitatea și calitatea osului receptor, poziția sinusului maxilar sau a
          unor vase și nervi. Se va ține seama de asemenea cont dacă pacientul este încă în perioada creștere sau de
          eventuale probleme legate de starea generală de sănătate(sunt contraindicate implanturile la pacienții care
          suferă de diabet, anumite afecțiuni ale sângelui sau ale țesutului osos, etc.). Astfel, înainte de plasarea
          implanturilor dentare, medicul va indica efectuarea unui set special de radiografii dentare, precum și
          analize ale sângelui.
        </p>
      </div>
      <div class="tratament">
        <h3>Taratamentul implantar</h3>
        <p class="text-info">
          Implantologia este o tehnică chirurgo-protetică de înlocuire a unuia sau a mai multor elemente dentare sau de
          reabilitare totală a unei arcade cu ajutorul unuia sau mai multor implanturi osteointegrate. Stabilitatea
          implanturilor depinde de volumul și calitatea osoasă, dar și de forțele la care vor fi supuse în timpul
          masticației.
        </p>
        <p class="text-info">
          Pentru realizarea planului de tratament implantar avem nevoie de <strong>imagini tridimensionle ale volumului
            osos</strong> și a principalelor structuri anatomice, sinus maxilar, canal alveolar inferior, foranem
          mentonier, etc.Aceste informații sunt obținute cu ajutorul unui aparat de radiogrfie spacial <strong>Cone
            Beam</strong>.
        </p>
        <p class="text-info">
          Această radiografie tridimensională poate fi efectuată cu repere radioopace fixate în șabloane precise fixate
          în ocluzie(<strong>NAVIBITE</strong>), și cu ajutorul unui program(NAVIGATOR) vin poziționate în mod virtual
          impalnturile de dimensiunea corespunzătoare. Informația vine transmisă la centrele de frezaje care vor
          realiza un șablon utilizat în faza chirurgică. În acest mod se pot poziționa implanturile fără deschiderea
          lambourilor gingivale, deci e o <strong>chirurgie minim invazivă</strong>. Pot fi deschise mici lambouri în
          zonele unde trebuie efectuată o osteoregenerare cu os și membrane.
        </p>
        <p class="text-info">
          În <strong>modalitatea clasică a chirurgiei implantare</strong>, după o analiză riguroasă a informaților
          radiografice(Cone Beam), a modelelor de studiu, și a situației clinice se decid, numărul de implanturi,
          poziția și dimensiunea lor.
        </p>
        <p class="text-info">
          <strong>Pacientul este infoformat</strong> de tipologia procedurii la care va fi supus, de complicațiile
          postoperatorii, și instrucțiunile pe care trebuie să le respecte după intervenție.

        </p>
        <p class="text-info">
          Organizăm ședința de chirurgie, într-un ambient complet steril cu <strong>dispansarul de implantologie Kavo</strong>,sau <strong>W&H pe care le avem deja în dotare</strong> cu chitul de <strong>implanturi Biomax 3i</strong>(implanturi pe care le folosim de 15 ani) <strong>și Anchylos</strong>(implanturi cu conexiune conică). Sunt implanturi de o foarte bună calitate, cu un istoric și o garanție majoră față de multitudinea de implanturi care se găsesc pe piață.
        </p>
        <p class="text-info">
          Pot fi realizate implanturi în zone edentule sau posextractiv(se extrag dinții care nu mai pot fi folosiți și vine poziționat imediat un implant)
        </p>
        <p class="text-info">
          În cazul în care avem arcada maxilară sau mandibulară edentula pot fi realizate <strong>Toronto Bridge cu protezare imediată, în 24-48 de ore</strong>. Am realizat un număr important de astfel de lucrări și pacientul are o schimbare imediată foarte importantă.
        </p>
        <p class="text-info">
          <strong>Toronto Bridge este defapt o proteză înșurubată pe implanturi în 24 de ore</strong> de la momentul chirurgical. Acesta poate fi ca o lucrare provizorie până la osteointegrarea impalnturilor când poate fi făcută o lucrare metalo-ceramică, sau poate rămâne ca o lucrare definitivă, după retușurile necesare, făcute după osteointegrare completă. 
        </p>
        <p class="text-info">
          În cazurile cu număr mic de implanturi, după perioada de osteointegrare <strong>se montează șuruburile de vindecare</strong>. Apoi <strong>se ia amprenta</strong> cu transferturi lungi însurubați, e o modalitatea de amprentare de mare precizie. Modelul cu analogii implantari sunt trimiși <strong>la laborator unde vine executată structura metalică</strong> cu tehnici Cad-Cam. <strong>Probăm structura metalică</strong> după montarea abutmentelor și <strong>stabilim culoarea</strong> dinților pentru realizarea ceramizării. Lucrarea vine ceramizată în laborator și revine în cabinet pentru a fi montată pacientului. Informăm pacientul de modalitatea de menținere a igienei și explicăm necesitatea controalelor periodice.
        </p>
      </div>
    </div>



  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Crystal Dent Page Made By Silviu Hoza</p>
  </footer>


  <script src="main.js"></script>

</body>

</html>