<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="../views/dotari.html">Dotări</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/chirurgie.html">Chirurgie dento-alveolară </a>
              <a href="../views/endodontie.html">Endodonție</a>
              <a href="../views/estetica-dentara.html">Estetica dentară</a>
              <a href="../views/implantologie.html">Implantologie</a>
              <a href="../views/ortodontie.html">Ortodonție și ortopedie dento-facială</a>
              <a href="#">Parodontologie</a>
              <a href="../views/pedodontie.html">Pedodonție</a>
              <a href="../views/profilaxia.html">Profilaxie</a>
              <a href="../views/protetica.html">Protetica</a>

            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Cazuistică</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <div class="container" style="padding-top:200px;">
    <div class="row">
      <div class=" row ">
        <img id="banner3" src="../img/paradontologie.jpg" class="col-lg-offset-2 col-lg-8 img-responsive" alt="Banner Image" />
        <h1 class="pull-left">Parodontologie</h1>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div>
        <p class="text-info">
          În tratarea afecțiunilor parodontale clinica <strong>Crystal Dent</strong> vă oferă o paletă largă de  manopere neinvazive și minim invazive, în funcție de gradul de afectare parodontal. Tehnicile de regenerare  osoasă ghidată contribuie la un rezultat net superior al terapiei față de metodele clasice. Deasemenea, în clinica noastră, se realizează tratamente de remodelare  gingivală în scopul obținerii unui zâmbet perfect.

        </p>
        <h2>Tratamantele parodontale</h2>
        <p class="text-info">
          Parodontologia este aceea ramură a medicinii dentare care se ocupă de profilaxia, diagnosticul și tratamentul afectiunilor parodontului. Parodontul cuprinde totalitatea țesuturilor dure și moi de susținere a dinților, gingia, ligamentul parodontal, cementul radicular, osul alveolar.
        </p>
        <p class="text-info">
          La <strong>examenul clinic</strong> pacienții prezintă o infalmație a gingilor cu un indice de sângerare crescut.
        </p>
        <p class="text-info">
          Dinții sunt cementul radicular descoperit, din cauza retracției gingivale și riasorbimentul osos. Spațiile interdentare se măresc, dinții cu treme și diasteme. În cazurile mai avansate este prezentă mobilitatea dentară. La sondajul cu sonda parodontală se evidențiază pungi parodontale mai profunde de 4 mm.În aceste pungi parodontale este prezentă o secreție abundentă, uneori vizibil purulentă.
        </p>
        <p class="text-info">
          La <strong>examenul radiografic</strong>( ortopanoramica și fullradiografic) se vede absorția orizontală a crestelor alveolare. La examenul radiografic 3D(Cone Beam) se evidențiază mai bine defectele circumfernțiale cu componență verticala mai profundă. 
        </p>
        <p class="text-info">
          După <strong>completarea cartelei parodontale</strong> sondajele complete în jurul fiecărui dinte, se începe tratamentul.
        </p>
        <p class="text-info">
          În <strong>prima fază</strong> se face o ablație a tratrului subgingival cât mai profundă și cât mai corectă.
        </p>
        <p class="text-info">
          Se dau indicații pacientului pentru menținerea unei igiene riguroase.
        </p>
        <p class="text-info">
          Se repetă ablația și igiena profesională pană la modificarea tonicitații gingivale și micșorarea indicelui de sângerare. 
        </p>
        <p class="text-info">
         În <strong>următoarea etapă</strong> se chiuretează suprafețele subgingivale cu chiurete de Gracey, pentru curătarea perfectă a suprafețelor radiculare, îndepărtarea țesutului de granulație din pungi și stimularea mecanică a osului circumferențial. Această manoperă se efectuează în mai multe ședințe succesive, în funcție de numărul dinților. Atenție deosebită trebuie să avem în bifurcațiile radiculare ale molarilor și în pungile parodontale foarte profunde. La finalizarea chiuretajului se pune în pungi gel antibiotic cu alimentare lentă și progresivă. Se dau pacientului indicațiile necesare de igienă.
        </p>
        <p class="text-info">
          După <strong>o perioadă de vindecare </strong> corespunzătoare se repetă sondajul parodontal.
        </p>
        <p class="text-info">
         Acolo unde defectele sunt considerabile se trece la faza următoare, <strong>chirurgia parodontală</strong>
        </p>
        <p class="text-info">
          Se deschide un lambou în jurul dinților interesați, se curăță în câmp deschis, se adaugă material osos și chiar membrană, pentru a face osteoregenerare, se suturează.
        </p>
        <p class="tex-info">
          O eficiență deosebită  în osteoregenerare o au <strong>factori de creștere PRF</strong>, este un extract piastrinic din sângele pacientului. Este  recoltată o cantitate mică din sângele pacientului, aceste vine pus în eprubete cu anticoagulanți și centrifugat după un anumit protocol. În acest mod se obține un gel carea amestecat cu osul în granule are un mai mare potențial de osteoregenerare. 
        </p>
        <p class="text-info">
          Pacientul parodontal este un pacient care trebuie <strong>monitorizat periodic</strong> pe tot parcursul vieții.
        </p>
      </div>
      
    </div>



  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Crystal Dent</p>
  </footer>


  <script src="main.js"></script>

</body>

</html>