<!DOCTYPE html>
<html lang="en">

<head>

  <title>Crystal Dent Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="../index.html">
          <div class="logocrystal">
            <img src="../img/dintele-crystal1.png" style="max-width:115px; max-height:115px;">
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav navbar-right  ">
          <div class="dropdown">
            <a href="../#about" class="dropbtn">Despre Noi</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/echipa.html">Echipa noastra</a>
              <a href="../views/dotari.html">Dotări</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="../#services" class="dropbtn">Servicii</a>
            <div class="dropdown-content" style="left:0;">
              <a href="../views/estetica-dentara.html">Estetica dentară</a>
              <a href="../views/endodontie.html">Endodonție</a>
              <a href="../views/implantologie.html">Implantologie</a>
              <a href="#">Pedodonție</a>

            </div>
          </div>
          <div class="dropdown">
            <a href="../#portfolio" class="dropbtn">Cazuistică</a>
            <div class="dropdown-content" style="left:0;">
              <a href="#">Proiecte</a>
              <a href="#">Certificari</a>
              <a href="#">Link 3</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="../#contact" class="dropbtn">Contact</a>
          </div>
        </div>
      </div>
  </nav>
  <div class="container" style="padding-top:200px;">
    <div class="row">
      <div class=" row ">
        <img id="banner3" src="../img/protetica.jpg" class="col-lg-offset-2 col-lg-8 img-responsive" alt="Banner Image" />
        <h1 class="pull-left">Protetica</h1>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div>
        <p class="text-info">
          Clinica <strong>Crystal Dent</strong> vă oferă o gamă largă de servicii stomatologice protetice, atât pe edentații reduse cât și pe edentații întinse. Lucrările protetice realizate în clinica noastră sunt de mai multe tipuri: metaloceramice(ceramica Vita, Ivoclar, HeraCeram), integral ceramic,ceramica pe zirconiu și metalocomposite, toate oferind un grad ridicat de estetică și duritatea specifică materialului din care sunt realizate.
          
        </p>
        <p class="text-primary">
          În cazul nefericit al unor edentații întinse, pe lângă varianta clasică de protezare acrilică(placa dentară), vă putem oferi variante moderne de protezare sub forma protezelor scheletizate, cu sistem special de menținere.
        </p>
        <p class="text-info">
          Atunci când constantele biologice generale și oferta osoasă alveolară ne permite putem realiza o protezare pe implante; care în funcție de numărul implantelor aplicate poate fi o protezare fixă sau mobilă.
        </p>
      </div>
      <div class="tratament">
        <h2>Tratamente protetice</h2>
        <p class="text-info">
          Protetica dentară este o ramură importantă a stomatologiei care se ocupă cu restaurarea morfo-funcțională a arcadelor dentare întrerupte prin breșe dentare. "Lucrările dentare" așa cum sunt cunoscute de pacienți, înlocuiesc un anumit număr de dinți absenți, de la o unitate dentară la întreaga arcadă. Putem vorbi deci de restaurări protetice fixe, care se sprijină pe dinții vecini breșei dentare, care au fost preparați anterior, sau restaurării protetice mobile și mobilizabile.
        </p>
        <p class="text-info">
          <strong>În prima ședintă</strong>, după efectuarea anesteziei vin preparate bonturile dințolor stâlpi, cu o gestiune a țesuturilor moi. Dinții care au carie sunt bine curățați și chiar devitalizați dacă este nevoie, sau se abordează canalele necrotice. Imediat după aceasta se adaptează lucrarea provizorie prin rebazarea cu același tip de rezină. Pacientul pleacă după prima ședință cu o situație stabilă funcțional și estetic.
        </p>
        <p class="text-info">
          Acești provizorii ne permit desfășurarea tratamentelor la intervale de timp pe care le dorim.
        </p>
        <p class="text-info">
          <strong>În următoarele ședințe</strong> vin făcute tratamente endodontice necesare, cu reconsturireabonturilor fie cu materiale composite și pivoți în fibră de sticlă, fie cu IOS(pivot metalic turnat). După fiecare ședință lucrarea provizorie este recimentată până la finalizarea preparării bonturilor și amprentarea definitivă.
        </p>
        <p class="text-info">
          După <strong>ampretarea definitivă</strong> și înregistrarea tuturor reperelor necesare, se realizează lucrarea definitivă în laborator. Probăm lucrarea defintivă și după obținerea <strong>consensului pacientului</strong> putem cimenta lucrarea definitiv. Eliberăm pacientului un <strong>certificat de garanție</strong>, odată cu toate <strong>indicațiile de igienă</strong> și consensul de a se prezenta la controale periodice corespunzătoare. 
        </p>
        <p class="text-info">
          Pentru tratamentele extinse, după plata unui avans, restul de plată se poate face în tranșe lunare fixe.
        </p>
      </div>
    </div>



  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Crystal Dent Page Made By Silviu Hoza</p>
  </footer>


  <script src="main.js"></script>

</body>

</html>